services:
  bookstore-frontend:
    image: "${DOCKER_USERNAME}/bookstore-frontend:latest"
    ports:
      - "80:80"
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
      placement:
        constraints:

          - node.labels.role == apis
