services:
  bookstore-frontend:
    image: "${DOCKER_USERNAME}/bookstore-frontend:${GITHUB_SHA}"
    ports:
      - "81:81"
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
      placement:
        constraints:
          - node.labels.role == apis
