services:
  bookstore-frontend:
    image: "${DOCKER_USERNAME}/bookstore-frontend:${GITHUB_SHA}"
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /etc/nginx/ssl:/etc/nginx/ssl:ro
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
      placement:
        constraints:
          - node.labels.role == apis

